
div{
  padding: 3px 10px;
  border: white 5px solid;
  border-radius: 20px;
  margin-left:25%;
  margin-right:25%;
  background-color: white;
}

h1{
 margin-left:25%;
 margin-right:25%;
 font-family: "Segoe UI", sans-serif;
 font-size: 200%;
 font-style: oblique;
}

h3, h4, h5{
	
	text-align: center;
}	

p{
 font-family: Calibri, sans-serif;
 font-weight: bolder;
 font-size: 20px;
 
}

.logo {

position: relative;
top: 3px;
left: 30px;

}

.titulo{

position: relative;
top: -30px;
left: 230px;

}

h2{
  padding: 20px 10px;
  border-radius: 20px;
  margin-left:10%;
  margin-right:10%;
  background: linear-gradient(90deg, rgb(0%, 50%, 76%), rgb(0%, 56%, 15%));
  position: relative;
  top: -5px;
}

